html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.content-box-component {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Временно скрытые элементы */
.pop-up,
.pop-up-catalog,
.slide:nth-child(2),
.service-slide:nth-child(2),
.service-slide:nth-child(3) {
  display: none;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.popular-brands h2,
.popular-items-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}
.main-title-catalog{
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}
.promo-box h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}
.promo-slider h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}
.item-card h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  
}
.service-features h2,
.items-information h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.service-slide h2 { 
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}
.company-profile h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.pop-up-catalog h2 {
  font-size: 30px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}
/* Сетка */
.to-left{
  float:left;
}
.to-right{
  float:right
}
/* Хедер */
.main-header {
  min-height: 320px;
  background-color: #f3f7f8;
}
.header-index {
  margin-bottom:60px;
}
.main-header-top {
  min-height: 40px;
  background-color: #33445a;
}
.main-header-top a {
  text-decoration: none;
  color: #ffffff;
}
.main-header-middle {
   min-height: 158px;
}
.logo {
  width: 220px;
  margin-right: 10px;
  padding: 9px 0  9px  0;
  text-align:center;
  line-height: 24px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ff5357;
}

.header-form-search { 
  width: 250px;
  position: relative;
}
.header-form-search input{
  margin-top: 10px;
  padding-left: 32px;
  font-size: 17px;
  background-color: #33445a;
  border: none;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
}
.header-form-search input::-webkit-input-placeholder {
  color: #ffffff;
}
.header-form-search input::-moz-placeholder {
  color: #ffffff;
}
.header-form-search input:-ms-input-placeholder {
  color: #ffffff;
}
.header-form-search input::placeholder {
  color: #ffffff;
}
.header-form-search button:before {
  content: "";
  display: block; 
  margin-top: 10px;
  margin-right: 3px;
  height: 17px;  
  width: 18px; 
  background-image:url(../img/icon-search.png);
  color: #ffffff; 
}
.header-form-search button{
  position: absolute; 
  top: 0;
  left: 0px;
  width: 40px;
  height: 4px;
  border: none;
  background-color: #33445a;
  
}
.btn-header-top{
  font-size: 0;
}
.btn-header-top a{
  display: inline-block;
}
.header-form-search { 
  width: 240px;
}
.header-cart {
  width: 150px;
  /*margin-left: 10px;*/
  padding: 9px 0px  9px  15px;
  text-align: center;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-right: 0;
}
.header-bookmarks {
  width: 150px;
  padding: 9px 0px 9px 15px;
  text-align: center;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
}  
.header-order-btn {
  width: 150px;
  padding: 9px 0 9px 0;
  font-size: 17px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #6db254;
}
/* Середина хедера */
.header-block {
  width: 300px;
  margin-right: 20px;
  min-height: 158px;

}
.header-block:last-child {
  margin-right: 0;
}
.header-info p{
  padding-top:32px;
  padding-left: 52px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: italic;
  color: #ff5357;
}

/* Низ хедера */
.header-nav{
  margin: 0;
  font-size: 0;
  padding:0;
  list-style: none;
  border-bottom: 5px solid #33445a;
}
.header-nav li {
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  padding-top: 19px;
  padding-bottom: 19px;

}
.header-nav-item a {
  margin-left: 52px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  vertical-align:middle;
}
.main-header-bottom {
  /*min-height: 61px;*/
  background-color: #3d546e;
}
/*Промо*/
.promo {
  margin-bottom: 33px;
}
.promo-box {
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.materials {
  background-color: #ffbf47;
}
.delivery {  
  margin-right: 0;
  background-color: #ffbf47;
}
.instruments {
  background-color: #3bbce3;
}
.tehnical {
  margin-right: 0;
  background-color: #dc91d8;
}
.sales {
  margin-right: 0;
  background-color: #8ed78f;
}
.promo-slider {
  position: relative;
  width: 620px;
}
.promo-prev {
  position:absolute;
  top:130px;
  z-index: 1;
}
.promo-next{
  position: absolute;
  top:130px;
  z-index: 1;
  right: 10px;
}
.promo-slider h2 {
  position: absolute;
  top:10px;
  left: 10px;
  margin: 0;
  text-transform: uppercase;
}
.promo-slider ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.promo-slider .dot{
  position: absolute;
}
.promo-slider p{
  position: absolute;
  top:20px;
  left: 10px;
  color: #ffffff;
}
.promo-slider a{
  position: absolute;
  top:200px;
  color: #ffffff;
}


.popular-items-title,
.popular-brands-title { 
  min-height: 89px;
  margin-bottom: 21px;
  background-color: #f9f5f0;
}
.popular-items-title{
  position: relative;
}
.popular-items-title a{
  position: absolute;
  right: 0;
  bottom: 0;
}
.popular-items-title h2{
  padding: 24px;
  margin: 0;
  text-transform: uppercase;
}
.item-card-block {
  font-size: 0;
}
.item-card {
  display: inline-block;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  font-size: 17px;
  vertical-align: top;
}
.row .item-card:last-child {
  margin-right: 0;
}
.popular-brands-cards {
  font-size: 0;
}
.popular-brands-cards a {
  display: inline-block;
  height: 144px;
  width: 220px;
  margin-right: 20px;
  vertical-align: top;
}
.popular-brands-cards a:nth-child(4n) {
  margin-right: 0;
}
.service {
  min-height: 522px;
  background-color:  #f4f8fa; 
}
.service-slider ul {
  padding:0;
  list-style: none;
}
.service-slider-menu {
  width: 240px;
}
.service-slide {
  width: 640px;
}
.company-profile {
  min-height: 536px;
}
.company-info {
  width: 540px;
}
.company-info h2{
  margin: 0;
  padding-top: 80px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.company-contacts {
  width: 330px;
}
/*ФУТЕР*/
.main-footer {
  min-height: 300px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #3d546e;
}
.main-footer a {
  text-decoration: none;
  color:#ffffff;
}
.footer-top {
  min-height: 193px;
}
.footer-logo { 
  display: block;
  width: 220px;
  margin-right: 10px;
  padding: 20px 0  20px  0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align:center;
  background-color: #ff5357;
  margin-bottom: 27px;
}
.footer-logo-info p{
  font-size: 18px;
  line-height: 24px;
  padding-left: 3px;
  color: #ffffff;
}
.footer-navigation-top,
.footer-navigation-bottom {
  padding:0;
  list-style: none;
  font-size: 0;
} 
.footer-navigation-top li,
.footer-navigation-bottom li {
  display: inline-block;
  font-size: 18px;
}
.footer-bottom {
  min-height: 107px;
  background-color: #33445b;
}
.footer-block {
  width: 300px;
  margin-right: 20px;
}
.footer-block:last-child{
  margin-right: 0;
}
.footer-social-list { 
  padding:0;
  list-style: none;
  font-size: 0;
}
.footer-social-list li {
  display: inline-block;
  font-size: 13px;
}

/*КАТАЛОГ*/

.main-title-catalog {
  min-height:89px;
  margin:0 0 7px 0;
  background-color: #f2f6f8;
}
.catalog-title {
  min-height: 59px;
}
.breadcrumbs {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding:0;
}
.breadcrumbs li {
  display:inline-block;
  font-size: 13px;
}
.filter {
  width: 220px;
}
.filter-title {
  min-height: 38px;
  background-color: #f7f3ec;
}
.sorting {
  width: 700px;
  padding:0;
  list-style: none;
  font-size: 0;
}
.sorting-menu {
  display: inline-block;
  padding:0;
  list-style: none;
  font-size: 0;
  font-size: 13px;
}
.sorting-menu li {
  display: inline-block;
  font-size: 13px;
}
.sorting-menu-title {
  display: inline-block;
  font-size: 13px;
}
.catalog-switches-list li {
  display:inline-block;
  font-size: 13px;
}
.catalog-switches-list {
  display:inline-block;
  padding:0;
  list-style: none;
  font-size: 0;
}
.catalog-switches-pages a {
  font-size: 13px;
}
.items-information { 
  background-color: #f2f6f8;
}
.items-information h2 {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 30px;
}
.items-information p {
  margin:0;
  padding-bottom: 68px;
}