/*На флексах*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
body {
  min-width: 960px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}
a{
   text-decoration: none;
   cursor: pointer;
}
.content-box-component {
  box-sizing: border-box;
}
/* Временно скрытые элементы */
.pop-up,
.pop-up-catalog,
.slide:nth-child(2),
.service-slide:nth-child(2),
.service-slide:nth-child(3) {
  display: none;
}


.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.popular-brands h2,
.popular-items-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;

}
.main-title-catalog{
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}

.promo-box h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}
.promo-slider h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}
.item-card h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.service-features h2,
.items-information h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.service-slide h2 { 
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
}
.company-info h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.pop-up-catalog h2 {
  font-size: 30px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

/* Хедер */
.main-header {
  min-height: 320px;
  background-color: #f3f7f8;
}
.header-index {
  margin-bottom:60px;
}
.header-top-flex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.main-header-top {
  min-height: 40px;
  background-color: #33445a;
}
.main-header-top a {
  color: #ffffff;
}
.logo {
  display: block;
  width: 220px;
  padding: 11px 0  7px  0;
  text-align:center;
  line-height: 24px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ff5357;
  box-shadow: 0px 5px 0px 0px #c23f42;
}
.logo:hover{
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px 0px #9a212a;
}
.btn-header-top{
  display: -ms-flexbox;
  display: flex;
}
.header-form-search { 
  width: 270px;
  position: relative;
}
.header-form-search input{
  margin-top: 10px;
  padding-left: 48px;
  font-size: 17px;
  background-color: #33445a;
  border: none;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
}
.header-form-search input::-webkit-input-placeholder {
  color: #ffffff;
}
.header-form-search input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header-form-search input:-ms-input-placeholder {
  color: #ffffff;
}
.header-form-search input::placeholder {
  color: #ffffff;
}
.header-form-search input:hover{
   background-color: #212a3a;
}
.header-form-search button{
  position: absolute; 
  top: 0px;
  left: 0px;
  width: 41px;
  border: none;
  /*visibility: hidden;*/
  background-color: #33445a;
}
.header-form-search button::before {
  content: "";
  display: block; 
  margin-top: 10px;
  margin-right: 3px;
  height: 17px;  
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -1px -439px;
  opacity: 0.3;
}
.header-form-search button:hover::before {
  opacity: 1;
  background-color: #212a3a;
}
.header-form-search:hover{
  background-color: #212a3a;
}
.btn-header-top a{
  display: block;
}
.header-cart {
  position: relative;
  width: 150px;
  padding: 9px 0px  9px  15px;
  text-align: center;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-right: 0;
}
.header-cart::after { 
  content: "";
  position: absolute;
  top:12px;
  left: 15px;
  display: block; 
  width: 17px;
  height: 16px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -10px -94px;
  opacity: 0.3;
}
.header-cart:hover::after{
  opacity: 1;
}
.header-bookmarks {
  position: relative;
  width: 150px;
  padding: 9px 0px 9px 15px;
  text-align: center;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
}  
.header-bookmarks::after{
  content: "";
  position: absolute;
  top:12px;
  left: 15px;
  display: block; 
  width: 17px;
  height: 16px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -10px -130px;
  opacity: 0.3;
}
.header-bookmarks:hover::after{
  opacity: 1;
}
.header-order-btn {
  width: 150px;
  padding: 9px 0 9px 0;
  font-size: 17px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #6db254;
}
/* Середина хедера */
.main-header-middle {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: justify;
       justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
   font-family: "Cuprum", "Arial", sans-serif;
}
.header-block {
  width: 300px;
  margin-right: 20px;
}
.header-block:last-child {
  margin-right: 0;
}
.header-info p{
  padding-top:32px;
  padding-left: 52px;
  padding-right: 25px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ff5357;
}

.header-contacts p:first-child{
  position: relative;
  width: 270px;
  font-size: 21px;
  line-height: 18px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:70px;
  border: 3px solid #ffffff;
  color: #fb463c;
}
.header-contacts p:last-child{
  margin: 0;
  font-size: 14px;
  line-height: 24px;
 color: #3d546e;
}
.header-contacts  p:first-child::after{
  content: "";
  position: absolute;
  top:10px;
  left: 10px;
  display: block; 
  width: 30px;
  height: 30px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -338px;  
}
.user-block a:first-child{
  display: inline-block;
  position: relative;
  width: 122px;
  font-size: 21px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 27px;
  padding-left: 48px;
  margin-right: 10px;
}
.user-block a:first-child:after{
  content: "";
  position: absolute;
  top:0px;
  left: 0px;
  display: block; 
  width: 30px;
  height: 30px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -1px -465px;
}
.user-block a:first-child:hover{
  color:#ee3643;
}
.user-block a:first-child:hover:after {
  content: "";
  position: absolute;
  top:0px;
  left: 0px;
  display: block; 
  width: 30px;
  height: 30px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -1px -267px;

}

.user-block a:last-child {
  display: inline-block;
  width: 150px;
  font-size: 21px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.user-block a:last-child:hover {
  color:#ee3643;
}
/* Низ хедера */
.header-nav{
  display: flex;
  justify-content:space-around;
  margin: 0;
  padding:0;
  list-style: none;
  border-bottom: 5px solid #33445a;
}
.header-nav li {
  font-size: 17px;
  line-height: 17px;
}
.header-nav-item a {
  display: block;
  width: 126px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
}
.header-nav-item a:hover{
  background-color: #33445a;
}
.main-header-bottom {
  background-color: #3d546e;
}

/*основа*/
.promo {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 52px;
}
.promo a{
  color: #ffffff;
}
.promo h2{
  margin: 0;
  margin-bottom: 12px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 10px 10px 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff5357;
}
.btn:hover{
  background-color: #ca2c37;
}
.promo-box {
  position: relative;
  width: 300px;
  padding: 21px 23px 22px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2857;
  min-height: 123px;
}
.promo-left .materials:before {
   content: "";
  position: absolute;
  top:16px;
  right: 8px;
  display: block; 
  width: 90px;
  height: 90px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -240px;
}
.promo-left .materials:after {
   content: "";
  position: absolute;
  top:0px;
  right: 0px;
  display: block; 
  width: 70px;
  height: 70px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -93px;
}
.promo-left .instruments:before { 
   content: "";
  position: absolute;
  top:10px;
  right: 22px;
  display: block; 
  width: 90px;
  height: 90px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -150px;
}

.promo-right .tehnical:before {
   content: "";
  position: absolute;
  top:11px;
  right: 29px;
  display: block; 
  width: 90px;
  height: 90px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -450px;
}
.promo-right .sales:before {
   content: "";
  position: absolute;
  top:19px;
  right:23px;
  display: block; 
  width: 90px;
  height: 90px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -370px;
}
.promo-right .delivery:before {
  content: "";
  position: absolute;
  top:22px;
  right: 28px;
  display: block; 
  width: 90px;
  height: 90px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px 0px;
}
.promo-box .btn{
  background-color: rgba(0, 0, 0, .1);
}
.promo-box .btn:hover{
  background-color: rgba(0, 0, 0, .2);
}
.promo-left,
.promo-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promo-left {
  width: 620px;
}
.promo-right {
  width: 300px;
}
.promo-box:not(:last-of-type) {
  margin-bottom: 20px;
}
.materials {
  background-color: #ffbf47;
}
.delivery {  
  margin-right: 0;
  background-color: #ffbf47;
}
.instruments {
  background-color: #3bbce3;
}
.tehnical {
  margin-right: 0;
  background-color: #dc91d8;
}
.sales {
  margin-right: 0;
  background-color: #8ed78f;
}
/*слайдер промо*/
.promo-slider {
  position: relative;
  width: 620px;
  padding:26px;
}
.promo-slider .btn{
  width: 195px;
}
.promo-prev {
  position:absolute;
  top:130px;
  z-index: 1;
}
.promo-next{
  position: absolute;
  top:130px;
  z-index: 1;
  right: 10px;
}
.promo-slider h2 {
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.promo-slider ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.promo-slider .dot{
  position: absolute;
}
.promo-slider p{
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.promo-slider a{
  position: absolute;
  top:205px;
}
.slide img{
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 width: 620px;
 height: 266px;
}
/*ТОВАР*/
.popular-items {
  margin-bottom: 20px;
}
.popular-items a {
  color:#ffffff;
}
.popular-items-title .btn {
  width: 253px;
  margin-right: 24px;
}
.popular-items del{
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  padding-left: 20px;
  padding-right: 20px;
}
.popular-items ins {
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
}
.popular-items-title,
.popular-brands-title { 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}
.popular-items-title h2 {
  padding: 24px;
  margin: 0;
  text-transform: uppercase;
}
.item-card {
  width: 220px;
  margin-right: 20px;
  font-size: 17px;
  border: 1px solid #cccccc;
  vertical-align: middle;
  text-align: center;
}
.item-card a{
  font-size: 17px;
  line-height: 18px;
}
.item-card:nth-child(4) h2{
  margin-bottom: 32px;
}
.item-card:nth-child(4):before{
 content: "";
  position: absolute;
  top:0px;
  right: 0px;
  display: block; 
  width: 70px;
  height: 70px;
  background: transparent url("../img/spritesheet2.png") no-repeat;
  background-position: 0px -93px;
}
.item-card .btn{
  margin-top: 6px;
  margin-bottom: 20px;
}
.item-card h2{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
}
.item-img-wrapper{
  margin-bottom: 25px;
}
.item-card-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-card-block .row{
  display: flex;
}
.row .item-card:last-child {
  margin-right: 0;
  position: relative;
}
.popular-brands-title .btn {
  width: 253px;
  margin-right: 24px;
  color:#ffffff;
}
.popular-brands-title h2{
  padding: 24px;
  margin: 0;
  text-transform: uppercase;
}
.popular-brands-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 7px;
}
.popular-brands-cards a {
  display: -ms-flexbox;
  display: flex;
  height: 144px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border: 1px solid #cccccc;

}
.popular-brands-cards img{
    margin: auto;
}
.popular-brands-cards a:nth-child(4n) {
  margin-right: 0;
}
.service {
  min-height: 522px;
  background-color:  #f4f8fa; 
}
.service-flex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.service-features {
   width: 430px;
   margin-bottom: 70px;
}
.service-features h2{
  padding-top:67px; 
  padding-bottom: 17px;
  margin:0;
  text-transform: uppercase;
}
.service-features p{
  padding-right: 20px;
  font-size: 13px;
  line-height: 24px;
}
.service-slider ul {
  padding:0;
  list-style: none;
}
.service-slider-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.service-slider-menu button{
  width: 240px;
  border: none;
  color: #ffffff;
  background-color: #3d546e;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 16px;
  text-align: left;
    font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.service-slider-menu  .service-slider-delivery{
  background-color: #ffffff;
  color: #3d546e;
}
.service-slide {
  width: 620px;
  position: relative;
}
.service-slide:nth-child(1)::after {
  content: "";
  position: absolute;
  top:0px;
  right: 0;
  background-image: url(../img/service-delivery.jpg);
  width: 444px;
  height: 259px;
  margin: 0;
}
.service-slide:nth-child(2)::after {
  content: "";
  position: absolute;
  top:0px;
  right: 0;
  background-image: url(../img/service-garanty.jpg);
  width: 444px;
  height: 259px;
  margin: 0;
}
.service-slide:nth-child(3)::after {
  content: "";
  position: absolute;
  top:0px;
  right: 0;
  background-image: url(../img/service-credit.jpg);
  width: 444px;
  height: 259px;
  margin: 0;
}
.service-slide p{
  width: 275px;
  position: absolute;
  z-index: 1;
}
.service-slide img{
  position: absolute;
  right: 0;
}
.company-profile {
  min-height: 536px;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}
.company-info .btn{
  width: 220px;
  color:#ffffff;
}
.company-info {
  width: 540px;
  margin-right: 100px;
}
.company-info h2{
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.company-profile-partners{
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;

}
.company-contacts {
  width: 330px;
}
.company-contacts .btn{
  width: 300px;
  color:#ffffff;
}
.company-contacts h2{
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
   padding-bottom: 30px;
}
.main-footer {
  min-height: 300px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #3d546e;
  color: #ffffff;
}
.main-footer a {
  color:#ffffff;
}
.footer-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 193px;
}
.footer-logo { 
  display: block;
  width: 220px;
  margin-right: 10px;
  padding: 20px 0  20px  0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align:center;
  background-color: #ff5357;
  margin-bottom: 27px;
  box-shadow: 0px 5px 0px 0px #c23f42;
}
.footer-logo-info p{
  font-size: 18px;
  line-height: 24px;
  padding-left: 3px;
  color: #ffffff;
}
.footer-navigation{
  width: 570px;
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation-top,
.footer-navigation-bottom {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding:0;
  list-style: none;
} 
.footer-navigation-bottom{
  justify-content: space-around;
}
.footer-navigation-bottom a{
  color: #ffd180;
}
.footer-navigation a:hover{
  text-decoration: underline;
}
.footer-bottom {
  /*min-height: 107px;*/
  background-color: #33445b;
  font-size: 16px;
  line-height: 19px;
}
.footer-bottom-flex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-company-info{

  padding-right: 70px;

}
.footer-copyright {
  display: flex; 
}
.footer-copyright a {
  color: #ffd180;
}
.footer-copyright a:hover{
  text-decoration:underline; 
}
.footer-copyright p {
  margin-bottom: 0;
}
.footer-copyright-left{
  margin-right: 50px;
}
.footer-block {
  width: 300px;
  margin-right: 20px;
}
.footer-block:last-child{
  margin-right: 0;
}

.footer-social-list { 
  display: -ms-flexbox;
  display: flex;
  padding:0;
  list-style: none;
  align-items: center;
  justify-content: center;

}
.footer-social-list li {
  font-size: 13px;
}
.social-btn{
  display: inline-block;
  background-color: #29384a;
  padding: 10px;
  margin: 4px;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50px;
  background: #29384a url("../img/spritesheet.png") no-repeat center;
}
.social-btn-vk{
  background-position: -1px -537px;
}
.social-btn-fb{
  background-position: 4px -158px;
}
.social-btn-ins{
  background-position: 2px -195px;
}
.social-btn:hover{
  background-color: #ee3643;
}
/*КАТАЛОГ*/
.main-flex{
  display: flex;
  justify-content: space-between;
}
.catalog-cart{
 background-color: #ff5357;
}
.main-title-catalog {
  padding: 24px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.breadcrumbs {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding:0;
  width: 380px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
 
}
.breadcrumbs a {
   color:#000000;
}
.breadcrumbs a:first-child {
  margin-left: 54px;
}
.filter {
  width: 220px;
}
.filter-title {
  background-color: #f7f3ec;
  margin-bottom: 20px;
}
.filter-title p{
  margin: 0;
  padding: 10px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.filter-price{
  width: 220px;
  min-height: 206px;
}
.sorting {
  width: 700px;
  padding:0;
  list-style: none;
  font-size: 0;
}
.sorting-menu-block{
  display: flex;
}
.sorting-menu {
  display: flex;
  justify-content: space-between;
  padding:0;
  list-style: none;
  font-size: 13px;
}
.sorting-menu li {
  display: inline-block;
  font-size: 13px;
}
.sorting-menu-title {
  display: inline-block;
  font-size: 13px;
}
.catalog-switches-list li {
  display:inline-block;
  font-size: 13px;
}
.catalog-switches-list {
  display:inline-block;
  padding:0;
  list-style: none;
  font-size: 0;
}
.catalog-switches-pages a {
  font-size: 13px;
}
.items-information { 
  background-color: #f2f6f8;
}
.items-information h2 {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 30px;
}
.items-information p {
  margin:0;
  padding-bottom: 68px;
}
/*МОДАЛЬНЫЕ ОКНА*/

 .pop-up {
  width: 620px;
  min-height: 430px;
  position: absolute;
  bottom:0;
  right:50%;
  left: 50%;
  top:50%;
  z-index: 1;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
 }
 .pop-up form {
  margin: 0 auto;
  width: 460px;
 }
 .pop-up-form label {
  display:block;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
 }
.pop-up-form input {
  width: 220px;
  padding: 10px;
  border-radius: 2px;
  border:2px solid #cccccc;
}
.pop-up-form textarea {
  width: 460px;
  padding: 10px;
  border-radius: 2px;
  border:2px solid #cccccc;
}
.pop-up .btn {
  width: 460px;
  border: none;
  color: #ffffff;
}
.pop-up-form input::-webkit-input-placeholder,
.pop-up-form textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  line-height: 18px;
}
.pop-up-form input::-moz-placeholder,
.pop-up-form textarea::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
  line-height: 18px;
}
.pop-up-form input:-ms-input-placeholder,
.pop-up-form textarea:-ms-input-placeholder {
  color: #a9a9a9;
  line-height: 18px;
}
.pop-up-form input::placeholder,
.pop-up-form textarea::placeholder  {
  color: #a9a9a9;
  line-height: 18px;
}

.pop-up-catalog{
  width: 620px;
  min-height: 282px;
    position: absolute;
  bottom:0;
  right:50%;
  left: 50%;
  top:50%;
  z-index: 1;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  border: 1px solid #000000;
  border-top: 7px solid #ff5357;
  text-align: center;
}
.pop-up-catalog h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.pop-up-catalog .btn{
  width: 220px;
  color: #ffffff;
  
}
 .pop-up-catalog a:nth-child(2){
  margin-right: 20px;
 }